<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div class="container" style="background-color: blue; height: 200px;">
            <div class="centrar-contenido">
                <button class="mi-boton" (click)="consultapi()">prueba get</button>
            </div>
            <div>
                <input class="mi-input" type="text" name="prueba" id="id_prueba">
            </div>
        </div>
        <div class="container" style="background-color: rgb(255, 64, 0); height: 300px;">
            <div class="centrar-contenido">
                <button class="mi-boton" (click)="consultapi2()">prueba get</button>
            </div>
            <div>
                <input class="mi-input2" style="margin-right: 50px;" type="text" name="prueba2" id="id_prueba2">
                <input class="mi-input2" style="margin-right: 50px;" type="text" name="prueba3" id="id_prueba3">
                <input class="mi-input2" type="text" name="prueba4" id="id_prueba4">
            </div>
            <div>
                <input class="mi-input3" type="text" name="prueba5" id="id_prueba5">
            </div>
        </div>

</body>
</html>
