<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="registro.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title> WEB | Registro</title>
</head>
<body>
    <div class="reg-box">
        <form class="container" (ngSubmit)="registrar()">
            <div class="texto-formulario">
                <h2 class="titulo">Registrate y unete a Nosotros!</h2>
                <p class="slogan">Llena los campos y formaras parte de nosotros</p>
            </div>

            <!--Input Nombre-->
            <div class="inputBox">
                <label for="nombre">Nombre  <i class="fa-solid fa-file-signature"></i></label>
                <input class="inp" placeholder="Ingrese Nombre..." type="text" id="nombre" required="required">
                <i></i>
            </div>

            <!--Input Rut-->
            <div class="inputBox">
                <label for="rut">Rut  <i class="fa-solid fa-id-card"></i></label>
                <input class="inp" placeholder="Ingrese Rut..." type="text" id="rut" required="required">
                <i></i>
            </div>

            <!--Input email-->
            <div class="inputBox">
                <label for="email">Email  <i class="fa-solid fa-envelope"></i></label>
                <input class="inp" placeholder="Ingrese Email..." type="text" id="email" required="required">
                <i></i>
            </div>

            <!--Input pass-->
            <div class="inputBox">
                <label for="email">Contraseña  <i class="fa-solid fa-envelope"></i></label>
                <input class="inp" placeholder="Ingrese Contraseña..." type="password" id="contrasena" required="required">
                <i></i>
            </div>

            <!--Login boton-->
            <div class="input-button">
                <input type="submit" value="Registrame">
            </div>
        </form>
    </div>   
</body>
</html>
